{% extends 'usuarios/base.html'%}
{% load static %} 
{% block title %}{{request.user.usuario.name}}{% endblock %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="enviar">
</form>
<br>
{% if request.user.usuario.vendedor == True %}
<h1>Mis productos</h1>
{% endif %}
<div class="news-cards">
    {% for producto in productos%}
    <div class="card">
        {% if producto.ImagenURL%}
        <img src="{{producto.ImagenURL}}" alt="Card 1">
        {% else %}
        <img src="{% static 'images/placeholder.png' %}" alt="">
        {% endif %}
        <div class="cardItems">
            <H3>{{producto.name}} </H3>
            <h4>Precio: USD${{producto.precio|floatformat:2}}</h4>
            <button class="Hbtn"><a href="{% url 'productos' producto.id %}">Ver producto</a></button>
            <button class="Hbtn"><a href="{% url 'ActuProducto' producto.id %}">Editar</a></button>
            <button class="Hbtn"><a href="{% url 'delete_producto' producto.id %}">Eliminar</a></button>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}