{% extends 'usuarios/base.html'%}
{% load static %} 
{% block title %}{{request.user.usuario.name}}{% endblock %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="enviar">
</form>
<br>
<h1>Mis productos</h1>
<div class="news-cards">
    {% for producto in productos%}
    <div class="card">
        {% if producto.ImagenURL%}
        <img src="{{producto.ImagenURL}}" alt="Card 1">
        {% else %}
        <img src="{% static 'images/placeholder.png' %}" alt="">
        {% endif %}
        <div class="cardItems">
            <H3>{{producto.name}} </H3>
            <h4>Precio: ${{producto.precio|floatformat:2}}</h4>
            <button data-producto="{{producto.id}}" data-action="add" class="Hbtn">Comprar</button>
            <button class="Hbtn"><a href="{% url 'delete_producto' producto.id %}">Eliminar</a></button>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}