{% extends 'usuarios/base.html'%}
{% load static %}
{% block content %}

{% if messages %}
{% for mensaje in messages %}

<div class="ErrorCard"><i class="fa-solid fa-triangle-exclamation fa-beat-fade" style="margin-right: 4px;"></i>{{mensaje}}</div>

{% endfor %}

{% endif %}
<div class="news-cards">
    {% for producto in productos%}
    <div class="card">
        {% if producto.ImagenURL%}
        <a href="{% url 'productos' producto.id %}"><img src="{{producto.ImagenURL}}" alt="Card 1"></a>
        {% else %}
        <a href="{% url 'productos' producto.id %}"><img src="{% static 'images/placeholder.png' %}" alt=""></a>
        {% endif %}
        <div class="cardItems">
            <H3>{{producto.name}} </H3>
            <h4>Precio: USD${{producto.precio|floatformat:2}}</h4>
            <button data-producto="{{producto.id}}" data-action="add" class="Hbtn Actu-Carrito">Comprar</button>
            <button class="Hbtn"><a href="{% url 'productos' producto.id %}">Ver producto</a></button>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}