{% extends 'usuarios/base.html'%}
{% load static %}
{% block content %}

<div class="Login-form">
    <form method="POST">
        {% csrf_token %}
        <div class="LogCard">
            <h2>Inicio de sesion</h2>
            {% for login in form %}
            <label>{{login.label}}</label>
            {{login}}
            {% endfor %}
            <button type="submit" name="submit" value="Login" class="Hbtn">Ingreso</button>
            {% for mensaje in messages %}
            <div class="ErrorCard"><p>{{mensaje}}</p></div>
            {% endfor %}
        </div>
    </form>
    <ul>
        <h2>Como deber ser la contraseña</h2>
        <li>Debe contener 8 caracteres.</li>
        <li>Debe contener minimo un numero.</li>
        <li>Debe contener minimo una mayuscula.</li>
        <li>Debe contener minimo una minuscula.</li>
        <li>Debe contener minimo un carater especial.</li>
    </ul>
    <form method="POST">
        {% csrf_token %}
        <div class="LogCard">
            <h2>Crea una cuenta</h2>
            <ul>
                {% for SingIn in FormSingIn %}
                <li><label>{{SingIn.label}}</label></li>
                <li>{{SingIn}}</li>
                {% endfor %}
                {{FormSingIn.errors}}
                <button type="submit" name="submit" value="SingIn" class="Hbtn">Ingreso</button>
            </ul>    
        </div>
    </form>
</div>


{% endblock %}