{% extends 'usuarios/base.html'%}
{% load static %}
{% block title %}{{productos.0.name}}{% endblock %}

{% block content %}

<div class="Producto-Grid">
    {% for producto in productos %}
    <div class="ProductoLeft"> 
        
        {% if producto.ImagenURL %}
        <img class="row-image" src="{{producto.ImagenURL}}" alt="Card 1">
        {% else %}
        <img class="row-image" src="{% static 'images/placeholder.png' %}" alt="">
        {% endif %}
        
    </div>
    <div class="ProductoRight">
        <H1>{{producto.name}} </H1>
        <h3>Vendido por {{producto.vendido_por}}</h3>
        <h3>Precio: ${{producto.precio|floatformat:2}}</h3>
        <h5>({{producto.stock}} disponibles)</h5>
        <form id="Comprar" data-producto="{{producto.id}}">
            <label for="cantidad">Cantidad:</label>
            <input type="number" id="cantidad" name="cantidad" min="1" max="{{producto.stock}}" value="1">
            <input type="submit" value="Comprar" id="CompraProducto">
        </form>
    </div>

    {% endfor %}
</div>

<script type="text/javascript">
    
    document.getElementById('Comprar').addEventListener('submit', function(e){
        e.preventDefault()
        var productoId = this.dataset.producto
        console.log(productoId)
        if(user === 'AnonymousUser'){
            alert("Para comprar hay que iniciar sesion")
        }
        else{
            console.log('Form subida')
            FormCompraProducto(productoId)
        }
    })


    function FormCompraProducto(productoId){

        
        var Compra = {
            'producto' : productoId,
            'Cantidad' : Comprar.cantidad.value,
        }

        var url = '/Compra_Producto/'

        fetch(url, {
            method: 'POST',
            headers:{
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken,
        },
            body: JSON.stringify({'form': Compra})
        })
        
        .then((response) => response.json())

        .then((data) => {
            console.log('Success:', data);
            window.location.href = "{% url 'home' %}"
        })

    }
</script>

{% endblock %}