{% extends 'usuarios/base.html'%}
{% load static %}
{% block title %}{{productos.0.name}}{% endblock %}

{% block content %}

<div class="news-cards">
    {% for producto in productos %}
    <div class="card">
        {% if producto.ImagenURL%}
        <img src="{{producto.ImagenURL}}" alt="Card 1">
        {% else %}
        <img src="{% static 'images/placeholder.png' %}" alt="">
        {% endif %}
        <div class="cardItems">
            <H3>{{producto.name}} </H3>
            <h4>Precio: ${{producto.precio|floatformat:2}}</h4>
            <button data-producto="{{producto.id}}" data-action="add" class="Hbtn Actu-Carrito">Comprar</button>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}